.menu{
    width:100%;
    background-color: black;
    max-width: 350px;
    padding: 10px;
    margin: auto;

}

.menu .logo{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.soz p{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: font-family: 'Montserrat', sans-serif;  
}

.resim img{
    width: 100%;
}

.urun{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
    border-bottom: 2px dashed white;
    margin-bottom: 10px;
    font-family: font-family: 'Montserrat', sans-serif;   
}
.fiyat{
    float: right;
    font-size: 24px;
}

